CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps\
.vscode/
AtoB.dump
BtoA.dump
build
_deps/

client
client_autogen/
client_test
client_test_autogen/
hello_test
hello_test_autogen/
lib/
server
server_autogen/
ui_connectdialog.h
ui_join_game_dialog.h
ui_mainwindow.h
ui_new_game_dialog.h
